@import "tailwindcss";


#root{
    height: 100vh;
    width: 100vw;
}

::-webkit-scrollbar{
    display: none;
}


input[type="date"]::-webkit-datetime-edit {
  color: transparent;
}

input[type="date"]:focus::-webkit-datetime-edit,
input[type="date"]:valid::-webkit-datetime-edit {
  color: #000;
}




@theme{
    --animate-wiggle: cube-rotate 1s ease-in-out infinite;

        @keyframes cube-rotate {
      0%   { transform: rotateY(0deg); }
      25%  { transform: rotateY(-90deg); }
      50%  { transform: rotateY(-180deg); }
      75%  { transform: rotateY(-270deg); }
      100% { transform: rotateY(-360deg); }
    }

}